body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-color: #000000;

}
.header {
	height: 1100px;
	background: url('img/header/header_bg.jpg') no-repeat;
	background-size: cover;
}

.header a {
	font-size: 24pt;
	color: #fff;
	margin-top: 50px;
	margin-left: 50px;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
}
.header p {
	font-size: 42pt;
	color: #fff;
	text-transform: lowercase;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	font-family: 'Lobster', cursive;
}

.intro {
	height: 400px;
	background-color: #000000;
	display: flex;
  align-items: center;
  justify-content: center;
}

.intro h3 {
	text-align: center;
	color: #FFFFFF;
}
.intro p {
	color: #808080;
	padding-left: 150px;
}
.intro img {
	height: 100px;
	width: 100px;
	margin-top: 40px;
}
@media screen and (max-width:760px) {
	.header {
		height: 500px;
		background-image: url('img/header/header_bg_sm.jpg');
	}
	.header a {
		display: none;
	}
	.header p {
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 32pt;
	}
	.intro {
		height: 600px;
		display: block;

	}
	.intro p {
		padding: 0;
	}
	.intro img {
	 height: 130px;
	 width: 130px;
	 margin-bottom: 50px;
	 margin-top: 60px;
	}
}
.main-menu {
	width: 100%;
	background-color: #000000;
	margin-bottom: 0;
	text-align: right;
}
.main-menu li {
	display: inline-block;
	height: 100px;
}
.main-menu li a {
	color: #FFFFFF;
	font-size: 18pt;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 100px;
	display: block;
}

.main-menu li:hover a {
	text-decoration: none;
	color: #9E3030;
}
.hamburger {
	display: none;
	line-height: 100px;
	background-color: #000000;
	padding-right: 50px;
	text-align: right;
}
.hamburger .glyphicon {
	font-size: 18pt;
	cursor: pointer;
	color: #FFFFFF
}
@media screen and (max-width:760px) {
	.main-menu {
		padding: 0;
		display: none;
	}
	.main-menu li {
		display: block;
		text-align: center;
		width: 100%;
	}
	.hamburger {
			display: block;
	}
}
@media screen and (min-width:761px) {
	.main-menu {
		display: block!important;
	}
}

.gallery img {
	width: 100%;
	padding: 10px;
}
.gallery div {
	padding: 0;
}

.overlay {
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 1s ease;
}

.image-container:hover .overlay {
	opacity: 0.7;
}

.image-container:hover img {
	filter: blur(3px);
}
.overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 18pt;
}
.overlay p a {
	color: #fff;
	text-decoration: none;
}


.contact-form {
	background-color: #000000;
	padding: 100px;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 80px;
}
.contact-form h1 {
	font-size: 24pt;
	text-transform: uppercase;
	text-align: center;
	color: #FFFFFF;
}
.contact-form p {
	text-align: center;
	font-size: 16pt;
	text-transform: uppercase;
	color: #9E3030;
	border-bottom: 1px solid #808080;
	padding-bottom: 20px;
	margin-bottom: 80px;
}

.form-control {
	height: 45px;
	border-radius: 1;
	border: 1px solid #000;
	background-color: #808080;
}
.form-control::placeholder {
	color: #000;
}
.btn, .btn:hover {
	padding: 15px;
	background-color: #000;
	color: #fff;
	border-radius: 20px;
	margin-top: 20px;
}
.btn-default {
	position: absolute;
}


@media screen and (max-width:760px) {
	.contact-form {
		padding: 30px;
		margin: 0;
		height: 600px;
	}
}

.footer {
	height: 200px;
	background: url('img/footer/footer_bg.png') no-repeat;
	background-size: cover;
}
.footer .unin img {
	padding: 70px 0 0 20px;
}
.footer .arrow img {
	width: 80px;
	height: 80px;
	margin-top: 60px;
	margin-left: 200px;
}
.footer .autor img {
	float: right;
	padding: 80px 50px 0 0;
}

@media screen and (max-width:760px) {
	.footer {
		height: 100%;
	}
	.footer .unin img {
		display: none;
	}
	.footer .arrow img {
		margin: 0;
		margin-left: 30px;
		margin-bottom: 20px;

	}
	.footer .autor img {
		display: none;
	}
}

.square-blocks div {
	height: 250px;
}
.square-blocks .light-gray-bg {
	background-color: #FFFFFF;
}
.square-blocks .dark-gray-bg {
	background-color: #808080;
}
@media screen and (max-width:760px) {
	.about-me-text p {
		margin-top: 50px;
	}
}
.section h1 {
	margin: 0;
	height: 150px;
	display: flex;
  align-items: center;
  justify-content: center;
	text-transform: uppercase;
	background-color: #000000;
	color: #FFFFFF;
}

@media screen and (max-width:760px) {
	.section h1 {
		text-align: center;
		font-size: 20pt;
	}
}

.section p {
	color: #FFFFFF;
}
.square-blocks p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	text-align: center;
	font-size: 18pt;
}
.about-me img,
.article img {
	width: 100%;
}
.article img {
	padding-top: 20px;
}
.about-me div,
.article div {
	padding: 0;
}
.about-me-text,
.article-text {
	padding-left: 40px !important;
	padding-right: 40px !important;
}


.section-title {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.square-blocks span {
	font-size: 32pt;
}
.square-blocks a {
	color: #000;
}
.square-blocks a:hover {
	color: #9E3030;
	text-decoration: none;
}
#vegas {
	height: 800px;
}

@media screen and (max-width:760px) {
	#vegas {
		height: 500px;
	}
}

.about_me_picture img {
	height: 500px;
}
